# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#project files
Makefile
libcdfread/tmp
libmzorbi/tmp
libneural/tmp
mzroll/tmp
mzWatcher/tmp
peakdetector/tmp
pugixml/src/tmp
build

#QT Resource File
mzroll/qrc_mzroll.cpp

#Compiled Binaries
bin/maven
bin/mzWatcher
bin/peakdetector

#Documentation HTML files
docs/html/*
docs/latex/*