# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project Files
*/tmp/
tmp/
build
build.pro.user

# Unused Makefiles
Makefile
libcdfread/Makefile
libmaven/Makefile
libneural/Makefile
mzroll/Makefile
mzWatcher/Makefile
peakdetector/Makefile
pugixml/src/Makefile

# QT Resource File
mzroll/qrc_mzroll.cpp

# Compiled Binaries
bin/maven_dev_769
bin/mzWatcher
bin/peakdetector
bin/MavenTests
bin/El_Maven*
bin/CrashReporter*

#Documentation files
docs/html
html
docs/latex
/Release/
bin/methods/baeseline.csv
bin/methods/smoothing.csv

*.user

# KDevelop4
maven_opensource.kdev4
.kdev4

#editor configuration
.jsbeautifyrc

#Visual Studio Code
*.browse.VC.db
*.browse.VC.db-shm
*.browse.VC.db-wal
*.vscode

#XML Files
*.xml
*.Xml
*.XML
!test.xml

#log Files
*.log
*.LOG

*.Debug
*.Release
*.swp

moc_*.cpp
ui_*.h
*.moc

*.qmake.stash
moc_predefs.h
qrc_mzroll.cpp
object_script.pillowcore