sudo: required

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - sourceline: 'deb http://archive.neon.kde.org/user/lts/ xenial main binary-amd64'

      dist: xenial
      language: cpp
      compiler: gcc-5
      group: deprecated-2017Q2
    - os: osx
      osx_image: xcode9.2

env:
  global:
    - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"


before_install:
    -  if [ "$TRAVIS_OS_NAME" == "linux" ]; then
            sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 0C49F3730359A14518585931BC711F9BA15703C6;
       fi

install:
  - |

    if [ "$TRAVIS_OS_NAME" == "osx" ]; then
        brew install llvm@6;
        brew install grep;
        brew install cppcheck qt;
        brew link qt5 --force;
    fi

    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      sudo apt-get install -y -qq lcov
      sudo apt-get update -qq;
      sudo apt-get install -y -qq --allow-unauthenticated qt5-qmake qtbase5-dev qtscript5-dev qtdeclarative5-dev libqt5webkit5-dev;
      sudo apt-get install -y -qq --allow-unauthenticated libqt5opengl5 libqt5multimedia5 libqt5multimedia5-plugins qtmultimedia5-dev;
      sudo apt-get install -y -qq --allow-unauthenticated libsqlite3-dev libboost-all-dev libnetcdf-dev;
      eval "${MATRIX_EVAL}";
    fi

script:
  - |

    if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      export LDFLAGS="-L/usr/local/opt/llvm@6/lib -Wl,-rpath,/usr/local/opt/llvm@6/lib"
      export PATH="/usr/local/opt/llvm@6/bin/:$PATH"
      export CPPFLAGS="-I/usr/local/opt/llvm@6/include -I/usr/local/opt/llvm@6/c++/v1/"
      qmake CONFIG+=debug -o Makefile build.pro;
      make -j4;
      ./run_tests.sh;
    fi

    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      export CXX="g++-5";
      export CC="gcc-5";
      sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc;
      sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++;
      g++ -v;
      gcc -v;
      export QTEST_FUNCTION_TIMEOUT=1200000
      echo $QTEST_FUNCTION_TIMEOUT
      echo no | ./run.sh
      lcov -b src/core/libmaven/ --capture --directory ../build/tmp/maven/ --output-file lcov.info --no-external
      lcov --summary lcov.info
    fi


after_script:
  - export CODECOV_TOKEN="9a0f9704-6d63-48c6-8c1a-ded361a26597"
  - bash <(curl -s https://codecov.io/bash)
