 <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          
          <h5 class="white-text">Support</h5>
          
          <br>
          <p class="grey-text text-lighten-4">Email of Repo maintainer:</p>
          
          <a class="white-text" href="info@elucidata.io"><b>info@elucidata.io</b></a>
          <br>
          <a class="white-text" href="abhishek.jha@elucidata.io"><b>abhishek.jha@elucidata.io</b></a>
          <br>
          <a class="white-text" href="swetabh.pathak@elucidata.io"><b>swetabh.pathak@elucidata.io</b></a>
          <br>
          <a class="white-text" href="sabu.george@elucidata.io"><b>sabu.george@elucidata.io</b></a>
          <br>
          <a class="white-text" href="sahil@elucidata.io"><b>sahil@elucidata.io</b></a>
        </div>
          <div class="col l5 s12">
              <ul>
                <li><h5>Request a Feature
                  </h5></li>
                  <br>
              We promise to build features that benefit the larger ElMaven community. Request us a feature you'll like to see in ElMaven.
              </ul>
            </div>
        <div class="col l4 s12">
          <ul>
            <li><h5 style="text-align:center">Licenses & Privacy
              </h5></li>
              <br>
             <p style="text-align:center" > Code and documentation copyright 2017 <a class="white-text" href="http://www.elucidata.io/"><b>Elucidata Inc</b></a>. Code released under the <a class="white-text" href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html"><b>GPL v2.0</b></a>. Documentation is released under <a class="white-text" href="https://opensource.org/licenses/MIT"><b> MIT license.</b></a></p>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                <a target="_blank" class="orange-text white-text" href="http://www.elucidata.io/contact-us"><b>Contact Us</b></a>
                <span style="text-align: right; float: right">
                Report A Bug: <a class="white-text" class="orange-text text-lighten-3" href="https://github.com/ElucidataInc/ElMaven/issues">create<b> Github Issues </b>for bugs.</a>  
              </span>
            </div>
        </div>
    </div>
</footer>