<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper" style="padding-left: 40px; padding-right: 40px; background-color: #8985db;"><a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">ElMaven</a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down cdn-nav" style="background-color:#8985db;">
            <li class="links"><a href="{{ "/" | relative_url }}" style="color:white;">Home</a></li>
            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li class="links"><a href="{{ my_page.url | relative_url }}" style="color:white;">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}              
          </ul>

          <ul id="nav-mobile cdn-nav" class="side-nav" style="background-color:#8985db;">
            <li class="links"><a href="#" style="color:white;">Home</a></li>
                            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li class="links"><a href="{{ my_page.url | relative_url }}" style="color:white;">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %} 
          </ul>        

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>