<?xml version="1.0"?>
<Settings>
	<C13LabelBPE>1</C13LabelBPE>
	<C13LabelIsoWidget>1</C13LabelIsoWidget>
	<C13Labeled_BPE>1</C13Labeled_BPE>
	<C13Labeled_IsoWidget>1</C13Labeled_IsoWidget>
	<D2LabelBPE>0</D2LabelBPE>
	<D2LabelIsoWidget>0</D2LabelIsoWidget>
	<D2Labeled_BPE>0</D2Labeled_BPE>
	<D2Labeled_IsoWidget>0</D2Labeled_IsoWidget>
	<N15LabelBPE>0</N15LabelBPE>
	<N15LabelIsoWidget>1</N15LabelIsoWidget>
	<N15Labeled_BPE>0</N15Labeled_BPE>
	<N15Labeled_IsoWidget>0</N15Labeled_IsoWidget>
	<S34LabelBPE>0</S34LabelBPE>
	<S34LabelIsoWidget>0</S34LabelIsoWidget>
	<S34Labeled_BPE>0</S34Labeled_BPE>
	<S34Labeled_IsoWidget>0</S34Labeled_IsoWidget>
	<abundanceThreshold>0.5</abundanceThreshold>
	<activeTableName>KNOWNS (1)</activeTableName>
	<adductPercentCorrelation>90</adductPercentCorrelation>
	<adductSearchWindow>0.5</adductSearchWindow>
	<alignment_algorithm>0</alignment_algorithm>
	<alignment_good_peak_count>1</alignment_good_peak_count>
	<alignment_limit_group_count>1000</alignment_limit_group_count>
	<alignment_min_peak_intensity>5000.000000</alignment_min_peak_intensity>
	<alignment_min_peak_width>3</alignment_min_peak_width>
	<alignment_min_signal_noise_ratio>2</alignment_min_signal_noise_ratio>
	<alignment_peak_detection>0</alignment_peak_detection>
	<alignment_peak_grouping_window>10</alignment_peak_grouping_window>
	<amuQ1>0.5</amuQ1>
	<amuQ3>0.5</amuQ3>
	<aslsAsymmetry>8</aslsAsymmetry>
	<aslsBaselineMode>0</aslsBaselineMode>
	<aslsSmoothness>2</aslsSmoothness>
	<automatedDetection>0</automatedDetection>
	<baselineQuantile>80</baselineQuantile>
	<baselineSmoothing>5</baselineSmoothing>
	<baselineSmoothingWindow>7</baselineSmoothingWindow>
	<baseline_quantile>80</baseline_quantile>
	<baseline_smoothing>5</baseline_smoothing>
	<centroidScans>0</centroidScans>
	<chargeMax>0</chargeMax>
	<chargeMin>1</chargeMin>
	<compoundExtractionWindow>5</compoundExtractionWindow>
	<compoundMassCutoffWindow>5</compoundMassCutoffWindow>
	<compoundRTWindow>1</compoundRTWindow>
	<compoundRtWindow>1</compoundRtWindow>
	<considerDeltaRT>0</considerDeltaRT>
	<correctC13IsotopeAbundance>0</correctC13IsotopeAbundance>
	<databaseSearch>1</databaseSearch>
	<dbDetection>1</dbDetection>
	<deltaRTCheck>0</deltaRTCheck>
	<deltaRTWeight>10</deltaRTWeight>
	<distXWeight>10</distXWeight>
	<distYWeight>10</distYWeight>
	<eicMaxGroups>10</eicMaxGroups>
	<eicSmoothingAlgorithm>0</eicSmoothingAlgorithm>
	<eicSmoothingWindow>10</eicSmoothingWindow>
	<eicType>0</eicType>
	<eic_smoothingAlgorithm>0</eic_smoothingAlgorithm>
	<eic_smoothingWindow>10</eic_smoothingWindow>
	<filterAdductsAgainstParent>0</filterAdductsAgainstParent>
	<filterIsotopesAgainstParent>1</filterIsotopesAgainstParent>
	<filterline>0</filterline>
	<fragAnnotationLimit>1</fragAnnotationLimit>
	<fragmentTolerance>20</fragmentTolerance>
	<grouping_maxRtWindow>0.25</grouping_maxRtWindow>
	<identificationDatabase>-1</identificationDatabase>
	<identificationMatchRt>0</identificationMatchRt>
	<identificationRtWindow>1</identificationRtWindow>
	<instrumentType>0</instrumentType>
	<intensityQuantile>0</intensityQuantile>
	<intensityWeight>10</intensityWeight>
	<ionizationMode>0</ionizationMode>
	<ionizationType>0</ionizationType>
	<isIsotopeEqualPeakFilter>0</isIsotopeEqualPeakFilter>
	<isotopeC13Correction>0</isotopeC13Correction>
	<isotopeFilterEqualPeak>0</isotopeFilterEqualPeak>
	<isotopeMinPeakQuality>0</isotopeMinPeakQuality>
	<isotopeMinSignalBaselineDifference>0</isotopeMinSignalBaselineDifference>
	<isotopicMinSignalBaselineDifference>0</isotopicMinSignalBaselineDifference>
	<limitGroupsPerCompound>10</limitGroupsPerCompound>
	<linkIsotopeRtRange>1</linkIsotopeRtRange>
	<mainWindowCharge>1</mainWindowCharge>
	<mainWindowMassResolution>5.000000</mainWindowMassResolution>
	<mainWindowPeakQuantitation>0</mainWindowPeakQuantitation>
	<mainWindowSelectedDbName>KNOWNS</mainWindowSelectedDbName>
	<massCutoffMerge>20</massCutoffMerge>
	<massCutoffType>ppm</massCutoffType>
	<massDomainResolution>20</massDomainResolution>
	<matchFragmentation>0</matchFragmentation>
	<matchFragmentationOptions>0</matchFragmentationOptions>
	<matchRt>0</matchRt>
	<maxIntensity>9999999999</maxIntensity>
	<maxIsotopeScanDiff>5</maxIsotopeScanDiff>
	<maxMz>999999999</maxMz>
	<maxNaturalAbundanceErr>100</maxNaturalAbundanceErr>
	<maxNaturalAbundanceError>100</maxNaturalAbundanceError>
	<maxRt>999999999</maxRt>
	<maxRtDiffBetweenPeaks>0.25</maxRtDiffBetweenPeaks>
	<minFragMatch>3</minFragMatch>
	<minFragMatchScore>0</minFragMatchScore>
	<minGoodGroupCount>1</minGoodGroupCount>
	<minGoodPeakCount>1</minGoodPeakCount>
	<minGroupIntensity>5000</minGroupIntensity>
	<minGroupQuality>0.5</minGroupQuality>
	<minIntensity>50000</minIntensity>
	<minIsotopeParentCorrelation>0.2</minIsotopeParentCorrelation>
	<minIsotopicCorrelation>0.2</minIsotopicCorrelation>
	<minIsotopicPeakQuality>0</minIsotopicPeakQuality>
	<minMz>0</minMz>
	<minNoNoiseObs>3</minNoNoiseObs>
	<minPeakQuality>0</minPeakQuality>
	<minPeakWidth>3</minPeakWidth>
	<minQuality>0.5</minQuality>
	<minRt>0</minRt>
	<minSignalBaselineDifference>0</minSignalBaselineDifference>
	<minSignalBaselineRatio>2</minSignalBaselineRatio>
	<minSignalBlankRatio>2</minSignalBlankRatio>
	<modelTypes>-1</modelTypes>
	<mustHaveFragmentation>0</mustHaveFragmentation>
	<mzMax>1e+09</mzMax>
	<mzMin>0</mzMin>
	<obi_warp_bin_size>0.600000</obi_warp_bin_size>
	<obi_warp_factor_diag>2.000000</obi_warp_factor_diag>
	<obi_warp_factor_gap>1.000000</obi_warp_factor_gap>
	<obi_warp_gap_extend>3.400000</obi_warp_gap_extend>
	<obi_warp_gap_init>0.200000</obi_warp_gap_init>
	<obi_warp_local>0</obi_warp_local>
	<obi_warp_no_standard_normal>0</obi_warp_no_standard_normal>
	<obi_warp_reference_sample>Select Randomly</obi_warp_reference_sample>
	<obi_warp_response>20.000000</obi_warp_response>
	<obi_warp_score>cor</obi_warp_score>
	<obi_warp_show_advance_params>0</obi_warp_show_advance_params>
	<overlapWeight>10</overlapWeight>
	<parentAdductRequired>0</parentAdductRequired>
	<parentIsotopeRequired>1</parentIsotopeRequired>
	<peakClassifierFile>C:/Program Files (x86)/El-MAVEN_peakML/El-MAVEN/bin\default.model</peakClassifierFile>
	<peakMlCuration>1</peakMlCuration>
	<peakQuantitation>0</peakQuantitation>
	<peakWidthQuantile>0</peakWidthQuantile>
	<poly_fit_num_iterations>10</poly_fit_num_iterations>
	<poly_fit_polynomial_degree>5</poly_fit_polynomial_degree>
	<q1Accuracy>0.5</q1Accuracy>
	<q3Accuracy>0.5</q3Accuracy>
	<qualityQuantile>0</qualityQuantile>
	<qualityWeight>10</qualityWeight>
	<quantileIntensity>0</quantileIntensity>
	<quantileQuality>0</quantileQuality>
	<quantileSignalBaselineRatio>0</quantileSignalBaselineRatio>
	<quantileSignalBlankRatio>0</quantileSignalBlankRatio>
	<reportIsotopes>1</reportIsotopes>
	<reportIsotopesOptions>1</reportIsotopesOptions>
	<rtMax>1e+09</rtMax>
	<rtMin>0</rtMin>
	<rtStep>10</rtStep>
	<scanFilterMinIntensity>0</scanFilterMinIntensity>
	<scanFilterMinQuantile>0</scanFilterMinQuantile>
	<scanFilterMsLevel>0</scanFilterMsLevel>
	<scanFilterPolarity>0</scanFilterPolarity>
	<scoringAlgo>0</scoringAlgo>
	<searchAdducts>0</searchAdducts>
	<sigBaselineRatio>2</sigBaselineRatio>
	<sigBlankRatio>2</sigBlankRatio>
	<signalBaselineRatioQuantile>0</signalBaselineRatioQuantile>
	<signalBlankRatioQuantile>0</signalBlankRatioQuantile>
	<timeDomainResolution>10</timeDomainResolution>
	<uploadMultiprocessing>1</uploadMultiprocessing>
	<useOverlap>1</useOverlap>
</Settings>
