---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div>
      <br><br>
      <h4 class="header center cdn-h4" style="color: #8985db !important;">Elucidata</h4>
      <h1 class="header center orange-text " style="color: #8985db !important;">ElMaven</h1>
      <br>
      <img src="assets/Elmaven_new.png" style="align:center;display:block;margin:0 auto; background:black;">
      <br>
      <div class="row center">
        <h5 class="header col s12 light cdn-h5" style="color: #8985db;">An opensource LC-MS data processing engine</h5>
      </div>
        
      <div class="row center">
        <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a> -->
        
                        <a class="btn-large waves-effect waves-light orange" style="margin-bottom:0" href="https://dl.dropboxusercontent.com/s/7grm84shl4ou2ry/ElMaven-0.1-windows-64Bit-installer.exe?dl=0">Windows 64 bit</a>
                        <a href="#" class="btn-large waves-effect waves-light orange" style="margin-bottom:0;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   MAC OS    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <!-- <a class="btn-large waves-effect waves-light orange" style="margin-bottom:0;" href="https://dl.dropboxusercontent.com/s/f32eafsp8tfl74k/ElMaven-0.2-Beta-windows-64Bit-installer.exe?dl=0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Daily builds&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;</a>
                    </div> -->
                    <div>
                        <!-- </div>
                        <div style="display:inline-block">
                          <a href="#" style="text-decoration: underline; text-align: center;">win 64</a>
                          <a style="pointer-events: none;cursor: default; text-align: center;">|</a>
                          <a href="#" style="text-decoration: underline; text-align: center;">ubuntu 64</a>
                        </div> -->
                    </div>
                    </br>
                  </br>
                    <a href="https://github.com/ElucidataInc/ElMaven" class="btn-large waves-effect waves-light orange" style="margin-bottom:0">View on GitHub</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <h1 class="cdn-h2" style="color: #8985db;"><b>About</b></h1>
      <p class="cdn-content">ElMaven is an open source mass spectrometry data processing engine that is optimal for isotopomer labeling
          and global metabolomic profiling experiments. It's designed to reduce complexity in metabolomics analysis
          by using an intuitive interface for exploring the experimental data. The tool aims to make research faster
          and easier than ever before.</p>
          <br>
          <br>

      <!--   Icon Section   -->
      <div class="row" style="background: whitesmoke;">
        <div class="col s12 m4" style="padding:15px;">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center" style="color: #8985db;">Cross platform Support</h5>
            <br>
            <p class="cdn-content" style="text-align:center">MAC OS X, Linux, Windows</p>
          </div>
        </div>

        <div class="col s12 m4" style="padding:15px;">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center" style="color: #8985db;">Open Source</h5>
            <br>
            <p class="cdn-content" style="text-align:center">Free. Personalizable.The program's code is freely available. Integrate your own data processing methods. Coding instructions are
                    on <a href="">Developer Manual</a></p>
          </div>
        </div>

        <div class="col s12 m4" style="padding:15px;">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center" style="color: #8985db;">Grouping</h5>
            <br>
            <p class="cdn-content" style="text-align:center">Simplified peak curation. A new feature that reimagines data visualisations to simplify your work. Track a metabolite across samples
                    with a single visual. Visualize all peak originating from the same ion as a single group. Faster and Accurate Processing</p>
          </div>
        </div>
      </div>
      <!--   Icon Section   -->
      <div class="row" style="background: whitesmoke;">
        <div class="col s12 m4" style="padding:15px;">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center" style="color: #8985db;">Automated Peak Detection</h5>
            <br>
            <p class="cdn-content" style="text-align:center">Automatically detected peaks match the gold standard of manually curated peaks by scientists with other tools.
                    Powered by efficient algorithms for improved alignment, grouping, and annotation. Curate peaks manually
                    in couple of hours rather than days.</p>
          </div>
        </div>

        <div class="col s12 m4" style="padding:15px;">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center" style="color: #8985db;">Processes large datasets</h5>
            <br>
            <p class="cdn-content" style="text-align:center">Large-scale Metabolomics. Memory usage is optimized with multiprocessing to compute files larger than the system RAM. Tested for upto
                    x00 GB.</p>
          </div>
        </div>

        <div class="col s12 m4" style="padding:15px;">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center" style="color: #8985db;">Multiple in-built Tools</h5>
            <br>
            <p class="cdn-content" style="text-align:center">Adaptable. Ability to process both MS as well as MS/MS data from liquid and gas chromatography based mass spec experiments.
                    The variety of widgets provide flexibility in your workflows. Perform Targeted, Untargeted, and Isotopic
                    Analysis with a single tool.</p>
          </div>
        </div>
      </div>

    </div>
      
    </div>
    <div style="background:white;">
    <div class="container last-post">
    <section>
        <!-- <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>   -->
      <h1 class="cdn-h2" style="color: #8985db;"><b>History</b></h1>
      <p class="cdn-content">The birth of El Maven can be traced back to another open source project, <a href="http://genomics-pubs.princeton.edu/mzroll/index.php">Maven</a>,
          an open source LC-MS data processing engine developed by Euguene Melamud. We decided to use El Maven
          as the working title for the project for few reasons. One, we wanted to acknowledge the original project.
          We also want to commit ourselves to create “the” version of Maven that is widely used and supported by
          the community. Second, El bears the stamp of Elucidata.</p>
      <br>
      <h1 class="cdn-h2" style="color: #8985db;"><b>Partners</b></h1>
      <p class="cdn-content">El Maven would not have been possible without the unwavering support, constant feedback and financial support from <a href="http://www.agios.com/" target="_blank">Agios</a>.</p>
    </section>
        <br>
        <section>
            <h1 class="cdn-h2" style="color: #8985db;"><b>Request a Feature</b></h1>
            <p class="cdn-content">We promise to build features that benefit the larger ElMaven community.<a href="https://github.com/ElucidataInc/ElMaven/issues/new" target="_blank"> Request</a> us a feature you'll like to see in ElMaven.</p>        
        </section>
        <br>
        <section>
          <h1 class="cdn-h2" style="color: #8985db;"><b>Report a Bug</b></h1>
          <p class="cdn-content">Create <a href="https://github.com/ElucidataInc/ElMaven/issues">Github Issues</a> for bugs.</p>        
      </section>
      <br>
    </div>
</div>
  </div>