<!DOCTYPE html>
<!-- <html lang="{{ page.lang | default: site.lang | default: "en" }}" style="height: 100%"> -->

  
  <head>
    <style>
    mark {
        background-color: white;
        color: black;
    }
   
    </style>
     <link rel="icon" href="https://elucidatainc.github.io/ElMaven/assets/logo.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    
        <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
        <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
        <script src="js/modernizr.js"></script> <!-- Modernizr -->
        <title>El-MAVEN | FAQs</title>
    </head>
  

  {% include head.html %}

  <body>

    {% include header.html %}


        {{ content }}

    {% include footer.html %}
      
    

  </body>

</html>